{% extends "base.html" %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<h1 class="frame_width">
  <b>
    Вход в систему
  </b>
</h1>  

<article class="additional_design frame_width gradient_posts">
  <form method="post">

    {% csrf_token %}
    {{ form.as_p }}

    <p style="text-align: center;"></p>
      <button type="submit" class="btn btn-primary">
        Войти
      </button>

      <a href="{% url 'users:register' %}" class="btn btn-outline-secondary">
        Нет аккаунта? Зарегистрироваться
      </a>
    </p>
    
  </form>
</article>
{% endblock %}
