{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1 class="frame_width">
  <b>
    Регистрация
  </b>
</h1>

<article class="additional_design frame_width gradient_posts">
  <form method="post">

    {% csrf_token %}
    {{ form.as_p }}

    <p style="text-align: center;">
      <button type="submit" class="btn btn-primary">
        Зарегистрироваться
      </button>

      <a href="{% url 'users:login' %}" class="btn btn-outline-secondary">
        Уже есть аккаунт? Войти
      </a>
    </p>

  </form>
</article>
{% endblock %}
